.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.lBgCherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.lBgBlueDark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.lBgGreenDark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.lBgOrangeDark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .cardStatistic3 .cardIconLarge .fas,
.card .cardStatistic3.cardIconLarge .far,
.card .cardStatistic3 .cardIconLarge .fab,
.card .cardStatistic3 .cardIconLarge .fal {
    font-size: 110px;
}

.card .cardStatistic3 .cardIcon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 16px;
    top: 20px;
    opacity: 0.1;
}

.lBgCyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.lBgGreen {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.lBgOrange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.lBgCyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}
